/* 
 * Screen styles for Dialup download page
 */


/*******************************************
 *
 * Imports
 *
 ******************************************/

/* CSS reset */
@import "compass/reset";

/* Sprites */
@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;


/*******************************************
 *
 * Options
 *
 ******************************************/

$colWidth: 250px;
$colGutter: 5px;

$darkBlockBackground: #080b0a;
$darkBlockFontColorLight: #e3e3e3;
$darkBlockFontColorDark: #2a2c2b;


/*******************************************
 *
 * Begin styles
 *
 ******************************************/

html, body {
	min-height: 100%;
}

body {
	font-family: "Ubuntu";
	font-weight: 300;
	background: url('/img/bg.jpg') top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper {
	display: block;
	max-width: 1000px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
	
	h1 {
		display: block;
		font-size: 120px;
		font-family: "Ubuntu";
		font-weight: 500;
		line-height: 130px;
		color: rgb(255, 255, 255);
		text-shadow: 5px 9px 25px rgba(0, 0, 0, 0.75);
	}
	
	p {
		max-width: 650px;
		margin: 0 auto 22px;
		font-size: 18px;
		font-family: "Ubuntu";
		font-weight: 300;
		line-height: 38px;
		color: white;
		
		&.large {
			font-size: 24px;
		}
	}
	
	a {
		color: #e77c16;
		text-decoration: none;
	}
	
	#headingTag {
		display: block;
		font-size: 48px;
		font-family: "Ubuntu";
		font-weight: 300;
		color: rgb(159, 174, 191);
		text-shadow: 5px 9px 25px rgba(0, 0, 0, 0.75);
	}
	
	.btn {
		$btnPaddingVertical: 12px;
		$btnPaddingHorizontal: 15px;
		$btnIconWidth: 29px;
		$btnIconMargin: 11px;
		
		display: inline-block;
		position: relative;
		padding: $btnPaddingVertical $btnPaddingHorizontal;
		font-size: 14px;
		font-family: "Ubuntu";
		font-weight: 500;
		color: #593716;
		text-align: left;
		text-decoration: none;
		
		border-radius: 5px;
		background-image: -moz-linear-gradient( 90deg, rgb(219,106,2) 0%, rgb(245,148,49) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(219,106,2) 0%, rgb(245,148,49) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(219,106,2) 0%, rgb(245,148,49) 100%);
		box-shadow: inset 1.5px 1.732px 2px 0px rgba(255, 255, 255, 0.65), 
			inset -1.5px -1.732px 2px 0px rgba(0, 0, 0, 0.75),
			1px 1.732px 2px 0px rgb( 0, 0, 0 );
		
		[class^="icons-"] {
			position: absolute;
			left: $btnPaddingHorizontal;
			top: $btnPaddingVertical - 1px;
			display: block;
			float: left;
			width: $btnIconWidth;
			height: $btnIconWidth;
			background-size: 100%;
		}
		
		[class^="icons-"] + .line-one,
		[class^="icons-"] + .line-one + .line-two {
			margin-left: $btnIconWidth + $btnIconMargin;
		}
		
		.line-one {
			display: block;
			white-space: nowrap;
		}
		
		.line-two {
			display: block;
			margin-top: 3px;
			font-size: 12px;
			font-weight: 400;
			white-space: nowrap;
			color: rgb(180, 91, 7);
		}
	}
	
	#downloadButton {
		margin: 85px 0 80px;
		
		.icons-download {
			height: 31px;
		}
		
		.line-one {
			
		}
	}
	
	#themes {
		margin-top: 130px;
		
		.theme {
			display: inline-block;
			width: $colWidth - 2*$colGutter;
			margin-left: $colGutter;
			margin-right: $colGutter;
			
			.dial {
				display: inline-block;
				width: 125px;
				height: 150px;
			}
			
			.dial-caption {
				position: relative;
				display: block;
				margin-top: 30px;
				padding: 14px;
				background: $darkBlockBackground;
				
				.check-area {
					float: left;
					
					.size {
						font-size: 14px;
						line-height: 18px;
						color: $darkBlockFontColorDark;
					}
				}
				
				.name {
					display: block;
					font-size: 18px;
					color: $darkBlockFontColorLight;
					text-align: right;
				}
				
				&:after {
					content: '';
					position: absolute;
					top: -13px;
					left: 50%;
					width: 0;
					height: 0;
					margin-left: -10px;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 13px solid $darkBlockBackground;
				}
			}
		}
	}
}