/* 
 * Screen styles for Dialup download page
 */
/*******************************************
 *
 * Imports
 *
 ******************************************/
/* CSS reset */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Sprites */
/* line 50, icons/*.png */
.icons-sprite, .icons-download, .icons-tick {
  background: url('/img/icons-sa096d3bf00.png') no-repeat;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-download {
  background-position: 0 0;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tick {
  background-position: 0 -62px;
}

/*******************************************
 *
 * Options
 *
 ******************************************/
/*******************************************
 *
 * Begin styles
 *
 ******************************************/
/* line 41, ../sass/screen.scss */
html, body {
  min-height: 100%;
}

/* line 45, ../sass/screen.scss */
body {
  font-family: "Ubuntu";
  font-weight: 300;
  background: url("/img/bg.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* line 53, ../sass/screen.scss */
.wrapper {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
/* line 60, ../sass/screen.scss */
.wrapper h1 {
  display: block;
  font-size: 120px;
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: 130px;
  color: white;
  text-shadow: 5px 9px 25px rgba(0, 0, 0, 0.75);
}
/* line 70, ../sass/screen.scss */
.wrapper p {
  max-width: 650px;
  margin: 0 auto 22px;
  font-size: 18px;
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 38px;
  color: white;
}
/* line 79, ../sass/screen.scss */
.wrapper p.large {
  font-size: 24px;
}
/* line 84, ../sass/screen.scss */
.wrapper a {
  color: #e77c16;
  text-decoration: none;
}
/* line 89, ../sass/screen.scss */
.wrapper #headingTag {
  display: block;
  font-size: 48px;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #9faebf;
  text-shadow: 5px 9px 25px rgba(0, 0, 0, 0.75);
}
/* line 98, ../sass/screen.scss */
.wrapper .btn {
  display: inline-block;
  position: relative;
  padding: 12px 15px;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 500;
  color: #593716;
  text-align: left;
  text-decoration: none;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #db6a02 0%, #f59431 100%);
  background-image: -webkit-linear-gradient(90deg, #db6a02 0%, #f59431 100%);
  background-image: -ms-linear-gradient(90deg, #db6a02 0%, #f59431 100%);
  box-shadow: inset 1.5px 1.732px 2px 0px rgba(255, 255, 255, 0.65), inset -1.5px -1.732px 2px 0px rgba(0, 0, 0, 0.75), 1px 1.732px 2px 0px black;
}
/* line 122, ../sass/screen.scss */
.wrapper .btn [class^="icons-"] {
  position: absolute;
  left: 15px;
  top: 11px;
  display: block;
  float: left;
  width: 29px;
  height: 29px;
  background-size: 100%;
}
/* line 134, ../sass/screen.scss */
.wrapper .btn [class^="icons-"] + .line-one,
.wrapper .btn [class^="icons-"] + .line-one + .line-two {
  margin-left: 40px;
}
/* line 138, ../sass/screen.scss */
.wrapper .btn .line-one {
  display: block;
  white-space: nowrap;
}
/* line 143, ../sass/screen.scss */
.wrapper .btn .line-two {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  color: #b45b07;
}
/* line 153, ../sass/screen.scss */
.wrapper #downloadButton {
  margin: 85px 0 80px;
}
/* line 156, ../sass/screen.scss */
.wrapper #downloadButton .icons-download {
  height: 31px;
}
/* line 165, ../sass/screen.scss */
.wrapper #themes {
  margin-top: 130px;
}
/* line 168, ../sass/screen.scss */
.wrapper #themes .theme {
  display: inline-block;
  width: 240px;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 174, ../sass/screen.scss */
.wrapper #themes .theme .dial {
  display: inline-block;
  width: 125px;
  height: 150px;
  cursor: pointer;
}
/* line 181, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption {
  position: relative;
  display: block;
  margin-top: 30px;
  padding: 14px;
  background: #080b0a;
}
/* line 188, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption .check-area {
  float: left;
}
/* line 191, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption .check-area input[type="checkbox"] {
  display: none;
}
/* line 195, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption .check-area input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
/* line 203, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption .check-area input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 3px solid #2a2c2b;
  border-radius: 4px;
}
/* line 217, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption .check-area input[type="checkbox"]:checked + label:after {
  background: url("/img/icons/tick.png") 2px 3px no-repeat;
  background-size: 13px 11px;
}
/* line 224, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption .check-area .size {
  position: relative;
  top: 1px;
  font-size: 14px;
  line-height: 18px;
  color: #2a2c2b;
}
/* line 233, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption .name {
  display: block;
  font-size: 18px;
  color: #e3e3e3;
  text-align: right;
}
/* line 240, ../sass/screen.scss */
.wrapper #themes .theme .dial-caption:after {
  content: '';
  position: absolute;
  top: -13px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #080b0a;
}
/* line 256, ../sass/screen.scss */
.wrapper #custom {
  position: relative;
  margin-top: 65px;
  padding: 16px 14px;
  background: #080b0a;
  color: #e3e3e3;
  text-align: left;
}
/* line 264, ../sass/screen.scss */
.wrapper #custom h2 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 24px;
  color: #e3e3e3;
}
/* line 271, ../sass/screen.scss */
.wrapper #custom p {
  max-width: 560px;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #e3e3e3;
}
/* line 279, ../sass/screen.scss */
.wrapper #custom .btn {
  position: absolute;
  top: 30px;
  right: 26px;
}
